#clock{
    padding:30px;
    background: #2f94e4;
    width:70%;margin:auto;
    color:#fff;
    font-size:100px;
    letter-spacing: 5px;
    box-shadow: 1px 2px 13px #2f94e4;
}
.alarm-container{
    text-align: center;
    background: #fff;
    padding:20px 0;
    width:70%;
    margin:auto;
    box-shadow: 1px 2px 13px #2f94e4;
}
.alarm-container h3{
    font-size: 43px;
    letter-spacing: normal;
    color:#2f94e4;
}
.alarm-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px 0;
}
.alarm-item div select{
    height:40px;
    width:80px;
    font-size:22px
}
#buttonHolder{
    display:flex;
    justify-content: center;
    align-items: center;
    width:70%;
    background: #fff;
    margin:auto;
    box-shadow:1px 2px 13px #2f94e4;
}
#buttonHolder div{
    width:120px;
    height:60px;
    display:block;
    margin:2px 3px;
    padding:20px p;
}
#buttonHolder div button{
    width:inherit;
    height:50px;
    border-radius: 20px;
    outline:none;
    border:1px solid #111;
    transition:1s ease-in-out;
    cursor:pointer;
} 
#buttonHolder div:nth-child(1) button,
#buttonHolder div:nth-child(2) button:hover{
    background: #2f94e4;
    color:#fff;
}
#buttonHolder div:nth-child(1) button:hover{
    background: #fff;
    color:#2f94e4;
}